.row {
        margin-left:0;
        margin-right:0;
        }

        .row .sp {

        margin-bottom:10px;
        border-bottom:3px #eee solid;
        }

        .bottom {
        min-height:1200px;
        }

        .editor {
        border-right:3px #eee solid;
        }

        .pane-label {
        position: absolute;
        z-index: 99;
        padding: 0;
        font-size: 80%;
        opacity: .4;
        right: 15px;
        bottom: 15px;
        margin: 0;
        }

        @media (max-width: 939px) {

        .row .sp {
        width:48.62% !important;

        }

        }

        @media (max-width: 767px) {

        .row .sp {
        width:100% !important;
        height:auto !important;
        }

        }

        @media (max-width: 1200px) {
        .row .sp {
        width:49.62% !important;

        }
        }

        @media (max-width: 767px) {

        .row .sp {
        width:100% !important;
        height:auto !important;
        }

        }

        .cont {
        width:100%;
        }


        .inner {
        overflow-y:auto;
        overflow-x:hidden;
        height:100%;
        }
